In [1]:
%cd "Day 1"

C:\Users\Iverson\Desktop\PBS\Day 1

In [1]:
%run ./myscript.py

This line runs always, even if imported.
Script is run directly → executing main part...
Hello from greet() function!

In [2]:
from myscript import greet

This line runs always, even if imported.

In [4]:
greet()

Hello from greet() function!

In [5]:
%run ./my_script.py

Name: Paul
Programming: Python
Current Year: 2025

In [3]:
%run ./comments_demo.py

Fav Quote: B for Banana
The sum: 13

### Python Casting

In [8]:
x = int(3.7)
y = float("4.2")
z = str(10)

print(x,y,z)
print(type(x),type(y),type(z))

3 4.2 10
<class 'int'> <class 'float'> <class 'str'>

### Python Operators

In [6]:
a = 5
b = 2

print('addition: ',a+b)
print('Greater than: ',a>b)
print('Logical AND: ', (a>2) and (b<3))

addition:  7
Greater than:  True
Logical AND:  True

### Python List

In [5]:
fruits = ['apple','banana','orange']

fruits.append('cherry')

fruits.insert(1,'mango')

fruits.remove('banana')

print('First items:',fruits[0])

print('First two items:', fruits[:2])

print('Length:',len(fruits))

print('updated List:',fruits)

First items: apple
First two items: ['apple', 'mango']
Length: 4
updated List: ['apple', 'mango', 'orange', 'cherry']

### Python Slicing

In [10]:
text = "python"

print('text[:]       =>', text[:])      # Copy the whole sequence
print('text[0:2]     =>', text[0:2])    # Subsequence from index 0 and 1
print('text[2:]      =>', text [2:])    # From index 2 to the end
print('text[:4]      =>', text[:4])     # From beginining to index 3
print('text[::]      =>', text[::])     # Full copy (same as [:])
print('text[::2]     =>', text[::2])    # Every second character
print('text[::-1]    =>', text[::-1])   # Reverse the sequence

text[:]       => python
text[0:2]     => py
text[2:]      => thon
text[:4]      => pyth
text[::]      => python
text[::2]     => pto
text[::-1]    => nohtyp

In [11]:
# Example usage with a list
nums = [10, 20, 30, 40, 50]

print("nums[1:4]   =>", nums[1:4])    # [20, 30, 40]
print("nums[:3]    =>", nums[:3])     # [10, 20, 30]
print("nums[2:]    =>", nums[2:])     # [30, 40, 50]
print("nums[::2]   =>", nums[::2])    # [10, 30, 50]
print("nums[::-1]  =>", nums[::-1])   # [50, 40, 30, 20, 10]

nums[1:4]   => [20, 30, 40]
nums[:3]    => [10, 20, 30]
nums[2:]    => [30, 40, 50]
nums[::2]   => [10, 30, 50]
nums[::-1]  => [50, 40, 30, 20, 10]

### Python Tuples

In [15]:
# Creating tuples
t1 = (1,2,3)    
t2 = 4,5,6      # parentheses optional
single = (42,)  # single-element tuple
empty = () # empty tuple

print('t1:',t1)
print('t2:',t2)
print('single',single)
print('empty',empty)

# Indexing and slicing
print('t1[0]:', t1[0])
print('t1[-1', t1[-1])
print('t1[1:3]:', t1[1:3])

# Tuple unpacking
x,y,z = t1
print('unpacked: ',x,y,z)

# Concatenation and reptition
print('t1 + t2:', t1+t2)
print('t1 * 2:' , t1*2)

# Membership test
print('2 in t1:', 2 in t1)
print('99 in t1:', 99 in t1)

# Nested tuple with mutable object
nested = (1,[10,20],3)
print('Before:', nested)
nested[1].append(30) # allowed because list is mutable
print('After:', nested)

# Leng of tuple
print('Length of t1:', len(t1))

t1: (1, 2, 3)
t2: (4, 5, 6)
single (42,)
empty ()
t1[0]: 1
t1[-1 3
t1[1:3]: (2, 3)
unpacked:  1 2 3
t1 + t2: (1, 2, 3, 4, 5, 6)
t1 * 2: (1, 2, 3, 1, 2, 3)
2 in t1: True
99 in t1: False
Before: (1, [10, 20], 3)
After: (1, [10, 20, 30], 3)
Length of t1: 3

### Python Sets

In [59]:
# Creating sets with duplicates
numbers = {1,2,3,3,2}
print("initial set:", numbers) # duplicates removed

# Adding elements
numbers.add(4)
numbers.update([5,6])
print ('After adding:', numbers)

# Membership testing
print('Contains 2?', 2 in numbers)
print('Contains 10?', 10 in numbers)

# Removing elements
numbers.remove(3) # raises error if not found
numbers.discard(10) # no error if not found
print('After removals:', numbers)

# Pop removes a first element in list
removed = numbers.pop()
print('Removed element:', removed)
print('Set after pop:', numbers)

# Clear all elements
numbers.clear()
print('After clear:', numbers)

initial set: {1, 2, 3}
After adding: {1, 2, 3, 4, 5, 6}
Contains 2? True
Contains 10? False
After removals: {1, 2, 4, 5, 6}
Removed element: 1
Set after pop: {2, 4, 5, 6}
After clear: set()

In [64]:
# Set algebra example
a = {1,2,3,4}
b = {3,4,5,6}

print('a union b:', a | b)
print('a intersection b:', a & b)
print('a difference b:', a-b)
print('b difference a:', b-a)
print('a symmetric_difference b:', a ^ b)

a union b: {1, 2, 3, 4, 5, 6}
a intersection b: {3, 4}
a difference b: {1, 2}
b difference a: {5, 6}
a symmetric_difference b: {1, 2, 5, 6}

### Python Dictionaries

In [73]:
# Creating dictionary
person = {'name':'Alice', 'age':30}
print('Initial:', person)

# accessing Values
print('Name:', person['name'])

# Updating a value
person['age'] = 31

# Adding a new key-value pair
person['city'] = 'Kuala Lumpur'
print('After update:', person)

# Getting keys, values, items
print('Keys:', list(person.keys()))
print('Values:', list(person.values()))
print('Items:', list(person.items()))

# Membership test
print('Has "age"?', 'age' in person)
print("Has 'salary'?", 'salary' in person)

# Removeing a key
del person['city']
print('After removing city: ', person)

# Using pop with default
age = person.pop('age',None)
print('Popped age:', age)
print('After pop:', person)

# Pop but failed
age = person.pop('age','ohhohh')
print('Final results:', age)

Initial: {'name': 'Alice', 'age': 30}
Name: Alice
After update: {'name': 'Alice', 'age': 31, 'city': 'Kuala Lumpur'}
Keys: ['name', 'age', 'city']
Values: ['Alice', 31, 'Kuala Lumpur']
Items: [('name', 'Alice'), ('age', 31), ('city', 'Kuala Lumpur')]
Has "age"? True
Has 'salary'? False
After removing city:  {'name': 'Alice', 'age': 31}
Popped age: 31
After pop: {'name': 'Alice'}
Final results: ohhohh

In [74]:
# Nested dictionaies
students = {
    's1': {'name':'Ali', 'grade':'A'},
    's2': {'name':'Sara', 'grade':'B'}
}

print('All Students', students)
print('Students s1 name:', students['s1']['name'])
print('Students s2 grade:', students['s2']['grade'])

All Students {'s1': {'name': 'Ali', 'grade': 'A'}, 's2': {'name': 'Sara', 'grade': 'B'}}
Students s1 name: Ali
Students s2 grade: B

### Python If... Else

In [75]:
x = 7 

if x>5:
    print("x greater than 5")
elif x == 5:
    print('x equals 5')

else:
    print('x is less than 5')

x greater than 5

In [76]:
y = 10 
if x > 5 and y > 5:
    print('Both x & y are greater than 5')

Both x & y are greater than 5

### Python Match
- available in Python 3.10 above

In [ ]:
status = 404

match status:
    case 200:
        print('ok')
    case 404:
        print('Not Found')
    case _:

In [78]:
# Match tuples, always print the first matched
point = (0,10)

match point:
    case (0,y):
        print(f'Y-axis at {y}')
    case (x,0):
        print(f'X-axis at {x}')
    case (x,y):
        print(f'Point at ({x},{y})')

Point at (0,10)

In [88]:
# Matching with Guards (conditions)
value = 15

match value:
    case x if x < 10:
        print('Less than 10')
    case x if x < 20:
        print('Between 10 and 19')
    case yyyy:
        print('20 or more',yyyy)

20 or more 15

### Python While loops

In [90]:
count = 0 
while count<3:
    print('COunt:', count)
    count +=1

COunt: 0
COunt: 1
COunt: 2

In [92]:
# Example with break
i = 0 
while True:
    print('i:',i)
    if i >=2:
        break
    i+=1

i: 0
i: 1
i: 2

In [94]:
# Example with countinue
n = 0 
while n < 5:
    n+=1
    if n == 3:
        continue
    print('n:',n)

n: 1
n: 2
n: 4
n: 5

### Python For loops

In [95]:
# example with range
for i in range(3):
    print('iteration:', i)

iteration: 0
iteration: 1
iteration: 2

In [96]:
# Example with enumerate()
colors = ['red','green','blue']
for index, color in enumerate(colors):
    print(f'{index}: {color}')

0: red
1: green
2: blue

### Python Functions

In [97]:
def add(a,b):
    return a+b

result = add(3,5)
print('sum:', result)

sum: 8

In [98]:
# Function with default arguments
def power(base, exponent=2):
    return base ** exponent

print('Default exponent:', power(4))
print('Custome exponent:', power(2,3))

Default exponent: 16
Custome exponent: 8

In [99]:
# Function without return 
def display_message():
    print('THis is mesage')
display_message()

THis is mesage

### Python Lambda Funtions

In [101]:
# Basic Lambda
square = lambda x: x*x
print(square(5))

25

In [103]:
# Lambda with multiple arguments
add = lambda a,b: a+b
print(add(3,4))

7

In [105]:
# Lambda with sorted()
words = ['banana','cherry','apple']
words_sorted = sorted(words, key=lambda word: len(word),reverse=True)
print(words_sorted)

['banana', 'cherry', 'apple']

### Python Arrays

In [107]:
import array 

nums = array.array('i',[1,2,3,4])
nums.append(5)
print(nums)

array('i', [1, 2, 3, 4, 5])

In [108]:
# Accesing elements
print('First elements:', nums[0])
print('Slice:', nums[1:4])

First elements: 1
Slice: array('i', [2, 3, 4])

### Python Imports

In [204]:
import math
print(math.sqrt(16))

from datetime import datetime
print(datetime.now())

import random as rnd
print(rnd.randint(1,10))

4.0
2025-09-29 16:27:44.218988
1

### Python Dates and Times

In [118]:
from datetime import datetime, date, time, timedelta

In [119]:
now = datetime.now()
print('Now:', now)
print('Date only:', now.date())
print('Time only:', now.time())

Now: 2025-09-29 12:24:24.134168
Date only: 2025-09-29
Time only: 12:24:24.134168

# Formating with stftime()
- %Y -> Year (2025)
- %m -> Month (01-12)
- %d -> Day (01-31)
- %H -> Hour (00-23)
- %M -> Minute (00-59)
- %S -> Second (00-59)
- %A -> Weekday name
- %B -> Month name

In [130]:
print(now.strftime('%Y-%m-%d %H:%M:%S'))
print(now.strftime('%A, %B %d, %Y)'))

2025-09-29 12:24:24
Monday, September 29, 2025)

In [137]:
# Creating specific dates and times
d = date(2025,1,15)
t = time(14,30,0)
dt = datetime(2025,1,15,14,30)

print('Date:', d)
print('Time:', t)
print('Datetime:', dt)

Date: 2025-01-15
Time: 14:30:00
Datetime: 2025-01-15 14:30:00

In [138]:
# Calculating difference with timedelta
start = date(2025,1,1)
end = date(2025,12,31)
delta = end - start
print('Days between:', delta.days)

# Adding & Subtracting Time
future = now + timedelta(days=7)
past = now - timedelta(hours=5)
print('ONe week from now:', future)
print('Five hours ago:',past)

Days between: 364
ONe week from now: 2025-10-06 12:24:24.134168
Five hours ago: 2025-09-29 07:24:24.134168

In [140]:
# Parsing strings into dates with strptime()
date_str = "2025-09-28 14:45:00"
parsed = datetime.strptime(date_str,'%Y-%m-%d %H:%M:%S')
print('Parsed datetime', parsed)
print('Year:', parsed.year, 'Month: ', parsed.month, 'Day: ', parsed.day)

Parsed datetime 2025-09-28 14:45:00
Year: 2025 Month:  9 Day:  28

### Python Math

In [141]:
import math

print('Square root:', math.sqrt(16))
print('Pi: ', math.pi)
print('Power:', math.pow(2,3))

Square root: 4.0
Pi:  3.141592653589793
Power: 8.0

### Python String Formatting

In [151]:
name = 'Alice'
print('Hello, %s' % name)

Hello, Alice

In [152]:
# str.format()
age = 30
print('Age:{}'.format(age))

Age:30

In [154]:
# f-strings (Python 3.6+)
score = 95.5
print(f'score:{score}')

score:95.5

In [155]:
# Formatting numbers
value = 1234.56789
print(f'Value rounded: {value:.2f}')

Value rounded: 1234.57

### Python User Input

In [158]:
name = input('Enter your name')
print('hello', name)

Enter your name Aa

hello Aa

In [159]:
# Convering input. All input is a string by default
age = int(input("enter your age:"))
print('You are', age, 'year old.')

enter your age: 19

You are 19 year old.

### Python Try...Except

In [164]:
try:
    num = int('abc')
    print(100/num)
except ZeroDivisionError:
    print(' Cannot divide by zero!')
except ValueError:
    print(' Invalid number format')

 Invalid number format

In [165]:
# Catching multiple exceptions in One block
try:
    num = int('abc')
    print(10/num)
except (ValueError, ZeroDivisionError) as e:
    print('Error:', e)

Error: invalid literal for int() with base 10: 'abc'

In [166]:
# else Caluse. Run only if no exception occurs
try:
    result = 10/2
except ZeroDivisionError:
    print('Cannot divivde zero')
else:
    print('Success! REsult = ',result)

Success! REsult =  5.0

In [167]:
# Finally Clause, run always whether ogt error or not
try:
    file = open('data.txt')
    print(file.read())
except FileNotFoundError:
    print('File Not found')
finally:
    print('Closing resources')

File Not found
Closing resources

In [168]:
# Catching All erros. Not Recommend
try: 
    risky_code()
except Exception as e:
    print('⚠️ Something went wrong:', e)

⚠️ Something went wrong: name 'risky_code' is not defined

In [170]:
# Bare except, (Very Dangerous).
try:
    risky_code()
except:
    print("⚠️ An unknown error occurred.")

⚠️ An unknown error occurred.

### Error vs Warning
- Error - stop program
- Warning - program still run

In [172]:
import warnings

warnings.warn('This feature is depcreated')

C:\Users\Iverson\AppData\Local\Temp\ipykernel_5176\2525532156.py:3: UserWarning: This feature is depcreated
  warnings.warn('This feature is depcreated')

# Exercise

In [177]:
# 4. Working with Python Variables
%run variables_practice.py

name: paul ,age: 18.0 ,is_student: True
name: <class 'str'> ,age: <class 'float'> ,is_student: <class 'bool'>
counter inside function: 1
counter outside function: 1

In [178]:
# 5 Type Casting
%run casting_example.py

num_str: 100 num_int 100 price_string 100.0 flag_bool False
num_str: <class 'str'> num_int <class 'int'> price_string <class 'str'> flag_bool <class 'bool'>

In [179]:
# 6 Python Operator
%run operators_demo.py

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3
Equal: False
Not Equal: True
Greater Than: True
Less Than or Equal: False
AND: False
OR: True
NOT: True
Type of is_raining: <class 'bool'>
a after += 2: 12
a after *= 3: 36

In [183]:
# 7. Python List
%run list_practice.py

original ['papaya', 'banana', 'coconut']
add watermelon ['papaya', 'banana', 'coconut', 'watermelon']
insert orange at 2nd ['papaya', 'orange', 'banana', 'coconut', 'watermelon']
remove banana ['papaya', 'orange', 'coconut', 'watermelon']
Last Fruit: watermelon
First 2: ['papaya', 'orange']
Total Num: 4
sorted ['papaya', 'orange', 'coconut', 'watermelon']

In [185]:
# 8. Tuples
%run tuple_demo.py

All Value 50 100
len 2

TypeError: 'tuple' object does not support item assignment

In [186]:
# 9. Sets
%run set_operations.py

All Values {1, 2, 3, 4}
added 5 {1, 2, 3, 4, 5}
removed 3 {1, 2, 4, 5}
is 2 in? True
set 2 {3, 4, 5, 7}
union of 2 {1, 2, 3, 4, 5, 7}
intersection of 2 {4, 5}
difference a-b {1, 2}
difference b-a {3, 7}

In [189]:
# 10. Dictionary
%run dictionary_demo.py

name: king age: 15 city: KL
Keys: dict_keys(['name', 'age', 'email']) Values: dict_values(['king', 15, 'aaaa@email.com'])
key: name value: king
key: age value: 15
key: email value: aaaa@email.com

In [194]:
# 11. If else
%run score_check.py

Whats your score? 49

You failed

In [195]:
# 13. While & For Loops
%run while_loop.py

1
2
3
4
5
Hello Ali
Hello Sara
Hello John

In [197]:
# 14. Writing Function
%run demo_function.py

Welcome, paul
5*2= 10
6 square= 36

In [202]:
# 15. Python arrays
%run demo_array.py

ori array array('i', [10, 20, 30, 40])
add 50 array('i', [10, 20, 30, 40, 50])
first element 10
len 5
type <class 'array.array'>

In [206]:
# 16. python import
%run demo_import.py

square root 49 7.0
pi 3.141592653589793
time now 2025-09-29 16:28:17.870157
random value between 1-10 5

In [211]:
# 17. datetime
%run  demo_datetime.py

full datetime 2025-09-29 16:32:20.175674
year 2025
formated 2025-09-29
days between 271

In [230]:
# 19. Formatting string
%run demo_string_format.py

Hello paul! Your score is 100.422000
Hello paul! Your score is 100.42
Hello paul! Your score is 0100.4

In [231]:
# 20. user input
%run demo_userinput.py

keyin username paul
keyin age 22

Hello paul, you are 22 years old
cast to float <class 'float'>

In [235]:
# 21. handling error
%run demo_error.py

Key in Some Value aa

Invalid input. Please enter a number.
Execution finished.

Key in Some Value 0

You can't divide by zero.
Execution finished.

Key in Some Value 20

output 5.0
Execution finished.